<tr>
  <td><%= participant.name %></td>
  <td><%= participant.contact %></td>
  <td><%= link_to "Edit", edit_meeting_participant_path(@meeting, participant) %></td>
  <td><%= link_to "Delete", meeting_participant_path(@meeting, participant), method: :delete, data: { confirm: "You sure?" }, title: participant.name %></td>
</tr>