<% provide(:title, 'All users') %>
<% meta :description => "FOSS Nepal User",
        :keywords => "FOSS, Nepal, FOSS User" %>
<%= render 'layouts/forum' %>
<h1 class="text-center">All users</h1>
<div class="container">
  <div class="row">
		<%= will_paginate %>
			<ul class="users">
  			<%= render @users %>
			</ul>
		<%= will_paginate %>
  </div>
</div>