<li>
  <span class="content"><%= outcome.result %></span><br>
  <%= link_to "Edit outcome", edit_meeting_outcome_path(@meeting.id) %>
  <%= link_to "Delete outcome", meeting_outcome_path(@meeting.id), method: :delete, data: { confirm: "You sure?" } %>
</li>